body{
    height: 540px;
    width: 300px;
}

li{
    list-style: none;
}

.header{
    background-color: saddlebrown;
    color: burlywood;
}

.header-logo{
    font-size: 60px;
    padding: 20px 40px;
    border-bottom: 1px solid white;
}

.header-list{
    font-size: 20px;
    padding: 10px 40px;
}

.header-list span{
    font-size: 40px;    
}

.main{
    font-size: 20px;
    background-color: sienna;
    color: white;
}
